body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

header img {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.service {
    margin: 20px;
    padding: 20px;
}

.whatsapp-button, .social-button, .instagram-button {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    text-align: center;
    width: 200px;
}

.whatsapp-button {
    background: linear-gradient(to right, #25D366, #128C7E);
}

.social-button {
    background-color: #3b5998;
}

.instagram-button {
    background-color: #E1306C;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: none;
    cursor: pointer;
    font-size: 16px;
}

.back-to-top:hover {
    background-color: #555;
}

form {
    margin: 20px auto;
    width: 50%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

